:root{--front-color:#121212;
    --back-color:#343434;
    --white:#E6E6E6;
    --one:#5598df;
    --two:#54c1e3;
    --three: #9e81b6;
    --four:#f06d65;
    --five:#f2b25c;
    --six: #7c72dc;
    --sever:#f3863d;
    }
body{
        background-color: var(--back-color,gray);
        color:var(--white);
        font-family: Arial, Helvetica, sans-serif;
        display:flex;
        justify-content:center;
    }

form{
    margin-block: 0;
    margin: 0;;
}
.icon-btn{
    display: block;
    padding:8px;
    cursor:pointer;
}
    .icon{ filter: invert(.9);    
        margin: 8px;
    }
    .icon.two{
        display:none;
    }
    .icon-btn:hover .icon.two{
display: block;
    }
    .icon-btn:hover .icon.one{
        display: none;
            }
    .header{
        height:56px;
        background-color: var(--front-color,black);
        width:100%;
        position:absolute;
        top:0;
        left:0;
        display: flex;
        justify-content:space-between;
    }
    .filter-container{
        width: 100%;
        display: flex;
        justify-content: center;;
    }
    .filter{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .filter div{
        display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    background-color: var(--front-color);
    height: 10px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px;
    }
    .filter div:hover{
        background-color: var(--one);
    }
    .content{
        margin-top:56px;
        max-width:1200px;
        display:flex;
        width:100%;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:center;
        height: fit-content;

    }
.card{
    width: 350px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--front-color,black);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-direction:column;
    color:#E6E6E6;
    position:relative;
    transition: all ease-in-out 200ms;
    justify-content: space-between;
}
.card a{
    text-decoration: none;
    color: inherit;
}

.card:hover{
    transform:scale(1.05);
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}

.card-head{
    padding: 1rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.head-avatar{
    background-color:var(--one);
    width:40px;
    height:40px;
    border-radius:20px;

}
input[type="file"],input[type="button"] {
    display: none;
}
.upload-btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--five);
}
.card-title{
    width: calc(100% - 120px
    );
        padding: 0 0 0 20px
    ;
}
.card-title h3{
    font-size: 14px;
}
.card-title h2,.card-title h3{
    margin:0;
}
.card-image{
    width:350px;
}
.card-content h2{
    padding: 20px;
;
}
.card-progress{
    height:160px;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.lock-overlay{
    background-color: rgba(52,52,52,0.8);
    height: 100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    cursor:not-allowed;

}
.bar-container{
    display:flex;
    flex-direction:row;
}
.bar{
    width: 240px;
    background-color: var(--front-color);
    height:5px;
    margin: 8px 0;
}
.inner-bar{
    width: 240px;
    background-color: var(--white);
    height:5px;
    transform: scale(.6);
    transform-origin:left;
}

@keyframes growProgressBar {
  0% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.progress-circle {
    --size:100px;
  --pgPercentage: var(--value);
  animation: growProgressBar 2s 1 forwards;
  width:var(--size);
  height:var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    conic-gradient(var(--five) calc(var(--pgPercentage) * 1%), var(--one) 0);
    margin:10px;
}
.progress-circle.small {
    --size:60px;
    width:var(--size);
  height:var(--size);
}
.progress-circle-inner {
    background-color: var(--front-color);
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#upload-overlay{
    position:fixed;
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;;
    display: none;
    align-items: center;
    flex-direction: column;
    top:0;
}
.preview-image{
}
#upload-overlay #preview{
    width: 100%; 
    max-width: 800px;
}
